#root {
  height: 100vh;
}

video:focus {
  outline: 0 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Colors */
:root {
  --main-color : #3f51b5; /* indigo: 500 */ 
}

/* Legals */
.legalsClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signupConsent, a {
  text-decoration: none;
  color: var(--main-color);
}
.signupConsent:hover, a:hover {
  color: var(--main-color);
  text-decoration: underline;
}


/* Adaptation responsive pour le iframe youtube du modal Trailer */
.embedresize {
  max-width: 100%;
  margin: auto;
}
.embedresize div {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.embedresize iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro #intro .embedresize iframe,
.exit .quizz .embedresize iframe,
.alreadyplayed #intro .embedresize iframe,
.identityset #intro .embedresize iframe,
#notabene .embedresize iframe,
#message_intro .embedresize iframe,
.fancybox_body .embedresize iframe,
#comments .embedresize iframe,
#description .embedresize iframe,
.alreadyplayed .embedresize iframe,
#adserver .embedresize iframe {
  max-width: none !important;
}